/*  your css code here. If applicable */
.container{
	display:inline-flex;
	background-color:#D3D3D3;
}
.container ul{
	display:flex;
}

.container li{
	padding:10px;
	margin-right:1rem;
	list-style:none;
}